*{
    margin:0;
    padding: 0;
}

body{
    background-color: lightgrey;
    font-size:15px;
}
.navbar{
    width:3000px;
    height:50px;
    margin:auto;
  }
  
  .icon{
      width: 400px;
      float:left;
      height: 70px;
  }
  
  .logo{
      color: rgb(103, 52, 59);
      font-size:30px;
      font-family:Black;
      padding-left:20px;
      float:left;
      padding-top:20px;
  }
   
  .menu{
  width: 400px;
  float: left;
  height: 80px;

  }
  
  
  ul{ 
      float:left;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  ul li{
      list-style: none;
      margin-left: 60px;
      margin-top:28px;
      font-size: 15px;
  }
  
  ul li a {
    text-decoration:none;
    color: black;
    font-family:Arial;
    font-style: bold;
    transition:0.2s ease-in-out;
  }
  
  ul li a:hover{
   color:blue; 
  }

.container{
    width: 80%;
    margin:50px auto ;
}

.contact-box{
    background:#969494;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
    background:#969494
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background:#9e3232;
    color:white;
}

h1{
    margin-bottom: 10px;

}

.container p{
    margin-bottom: 10px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.input-row .input-group{
    flex-basis: 45%;

}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline:none;
    padding-bottom:5px;
}
textarea{
    width: 100%;
    border: 1px solid;
  outline: none;
  padding: 10px;
  box-sizing: border-box;

}

label{
    margin-bottom: 6px;
    display: block;
}

button{
    background: #d14949;
    width: 100px;
    border: none;
    outline: none;
    color:#fff;
    height: 35px;
    border-radius: 30px;
    margin: top 20px;
    box-shadow: 0px 5px 15px ;
}

.contact-left h3{
    color: #1c00b5;
    font-weight: 650;
    margin-bottom: 30px;
}

    .contact-right h3{
        color: #1c00b5;
        font-weight: 650;
        margin-bottom: 30px;


}

tr td:first-child{
    padding-right: 20px;

}

tr td{
    padding-top: 20px;
}